<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 无需配置数据源，由Spring的IOC容器管理 -->
		<!-- 映射文件也交由IOC管理，还有SessionFactory也由IOC管理 -->

		<!-- 配置Hibernate的一些属性：方言、SQL的显示与格式化、生成数据表的策略、还有二级缓存比如encache -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- 二级缓存暂时省略 -->


	</session-factory>
</hibernate-configuration>
