<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="arithmeticCalculator" class="com.tgweb.spring4.day03.ArithmeticCalculatorImpl"></bean>

	<bean id="logAspect" class="com.tgweb.spring4.day03.LogAspect"></bean>

	<bean id="validationAspect" class="com.tgweb.spring4.day03.ValidationAspect"></bean>

	<!-- 配置AOP -->
	<aop:config>
		<!-- 切点表达式 -->
		<aop:pointcut
			expression="execution(* com.tgweb.spring4.day03.ArithmeticCalculator.*(..))"
			id="isArithmeticCalculatorAdvice" />
		<!-- 切面和通知 -->
		<aop:aspect ref="logAspect" order="2">
			<aop:before method="beforeAdvice" pointcut-ref="isArithmeticCalculatorAdvice" />
			<aop:after method="afterAdvice" pointcut-ref="isArithmeticCalculatorAdvice" />
			<aop:after-returning method="afterReturningAdvice"
				pointcut-ref="isArithmeticCalculatorAdvice" returning="result" />
			<aop:after-throwing method="afterThrowingAdvice"
				pointcut-ref="isArithmeticCalculatorAdvice" throwing="e" />
			<aop:around method="aroundAdvice" pointcut-ref="isArithmeticCalculatorAdvice" />
		</aop:aspect>
		<aop:aspect ref="validationAspect" order="1">
			<aop:before method="validate" pointcut-ref="isArithmeticCalculatorAdvice" />
		</aop:aspect>
	</aop:config>

</beans>
