<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


	<bean id="tom" class="com.tgweb.spring4.day01.Person">
		<property name="name" value="Tom"></property>
	</bean>

	<bean id="jack1" class="com.tgweb.spring4.day01.Person">
		<constructor-arg value="Jack1" index="0"></constructor-arg>
		<constructor-arg value="99" index="1" type="java.lang.Integer"></constructor-arg>
	</bean>

	<bean id="jack2" class="com.tgweb.spring4.day01.Person">
		<constructor-arg value="Jack2" index="0"></constructor-arg>
		<constructor-arg value="21" index="1" type="int"></constructor-arg>
	</bean>

	<bean id="jack3" class="com.tgweb.spring4.day01.Person">
		<constructor-arg index="0">
			<value><![CDATA[<Jack3^>]]></value>
		</constructor-arg>
		<constructor-arg value="19" index="1" type="int"></constructor-arg>
	</bean>

	<bean id="jack4" class="com.tgweb.spring4.day01.Person">
		<constructor-arg value="Jack4" index="0"></constructor-arg>
		<constructor-arg ref="car1"></constructor-arg>
		<property name="car.price" value="199999"></property>
	</bean>

	<bean id="jack5" class="com.tgweb.spring4.day01.Person">
		<property name="name" value="Jack5"></property>
		<property name="car">
			<bean class="com.tgweb.spring4.day01.Car">
				<constructor-arg value="Car2"></constructor-arg>
				<constructor-arg value="200000"></constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="jack6" class="com.tgweb.spring4.day01.Person">

	</bean>

	<bean id="jack7" class="com.tgweb.spring4.day01.Person">
		<constructor-arg index="0">
			<null />
		</constructor-arg>
		<constructor-arg index="1">
			<value>12</value>
		</constructor-arg>
	</bean>

	<bean id="car1" class="com.tgweb.spring4.day01.Car">
		<constructor-arg value="Car1"></constructor-arg>
		<constructor-arg value="188888"></constructor-arg>
	</bean>

	<bean id="cara" class="com.tgweb.spring4.day01.Car">
		<constructor-arg value="CarA"></constructor-arg>
		<constructor-arg value="177777"></constructor-arg>
	</bean>

	<bean id="carb" class="com.tgweb.spring4.day01.Car">
		<constructor-arg value="CarB"></constructor-arg>
		<constructor-arg value="166666"></constructor-arg>
	</bean>

	<bean id="peter1" class="com.tgweb.spring4.day02.Person">
		<constructor-arg value="Peter1"></constructor-arg>
		<constructor-arg>
			<null />
		</constructor-arg>
		<property name="cars">
			<list>
				<ref bean="cara" />
				<ref bean="carb" />
				<bean class="com.tgweb.spring4.day01.Car">
					<constructor-arg value="CarC"></constructor-arg>
					<constructor-arg value="155555"></constructor-arg>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="may1" class="com.tgweb.spring4.day02.PersonMap">
		<property name="name" value="May1"></property>
		<property name="cars">
			<map>
				<entry key="carA" value-ref="cara"></entry>
				<entry key="carB" value-ref="carb"></entry>
			</map>
		</property>
	</bean>

	<bean id="dataSource" class="com.tgweb.spring4.day02.DataSource">
		<property name="properties">
			<props>
				<prop key="user">root</prop>
				<prop key="password">123456</prop>
				<prop key="jdbcUrl">jdbc:mysql:///test</prop>
				<prop key="driverClass">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource2" class="com.tgweb.spring4.day02.DataSource">
		<property name="properties" ref="ds2"></property>
	</bean>

	<util:properties id="ds2">
		<prop key="user">root^</prop>
		<prop key="password">123456^</prop>
		<prop key="jdbcUrl">jdbc:mysql:///test^</prop>
		<prop key="driverClass">com.mysql.jdbc.Driver^</prop>
	</util:properties>

	<util:list id="cars2">
		<ref bean="cara" />
		<ref bean="carb" />
		<bean class="com.tgweb.spring4.day01.Car">
			<constructor-arg value="CarC"></constructor-arg>
			<constructor-arg value="155555"></constructor-arg>
		</bean>
	</util:list>

	<bean id="may2" class="com.tgweb.spring4.day02.Person" p:name="May2"
		p:cars-ref="cars2" />

</beans>
