<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 启用自动组件扫描 -->
	<context:component-scan base-package="com.tgweb.ssh"></context:component-scan>

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:resources/jdbc.properties" />

	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jbdc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="driverClass" value="${jdbc.driver}"></property>
		<!-- 其他配置 -->
		<property name="initialPoolSize" value="${jdbc.c3p0.initialPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.c3p0.maxPoolSize}"></property>
	</bean>

	<!-- 配置SessionFactory使用LocalSessionFactoryBean -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 配置数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置Hibernate的配置文件 -->
		<property name="configLocation" value="classpath:resources/hibernate.cfg.xml"></property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingLocations" value="classpath:com/tgweb/ssh/entity/*.hbm.xml"></property>
	</bean>

	<!-- 配置Spring的声明式事务为HibernateTransactionManager -->
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 配置事务属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置事务 -->
	<aop:config>
		<aop:pointcut
			expression="execution(* com.tgweb.ssh.service.*.*(..))||execution(* com.tgweb.ssh.actions.*.tx*(..))"
			id="tgwebTxPointCut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="tgwebTxPointCut" />
	</aop:config>

	<!-- 启用自动声明式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 导入其他的配置文件 -->
	<import resource="spring-struts2.xml" />

</beans>
