@charset "utf-8";

.body-size {
	padding: 6px;
	margin: 6px;
	width: 70%;
}

.head-size {
	display: inline;
}

.head-left-size {
	float: left;
	width: 60%;
}

.sort-size {
	border-radius: 4px 0px 0px 4px;
}

.select-size {
	border-radius: 0px 4px 4px 0px;
	padding: 6px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-left-style: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.select-size[disabled] {
	cursor: not-allowed;
}

.head-right-size {
	float: right;
	width: 40%;
}

.reset-size {
	float: left;
	width: 30%;
}

.search-size {
	float: right;
	width: 70%;
}

.table-size {
	padding-top: 40px;
}

.input-text-size {
	width: 90%;
}

.bottom-size {
	padding-left: 8px;
}