<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="companyInfoNormalAction" class="com.tgweb.ssh.actions.CompanyInfoNormalAction" scope="prototype">
        <property name="companyInfoService" ref="companyInfoService"/>
    </bean>

    <bean id="companyInfoAjaxAction" class="com.tgweb.ssh.actions.CompanyInfoAjaxAction" scope="prototype">
        <property name="companyInfoService" ref="companyInfoService"/>
    </bean>

</beans>