<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>161121_TgJavaWebC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.tgweb.day12.MyServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.tgweb.day12.MyServletRequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.tgweb.day12.MyHttpSessionListener</listener-class>
	</listener>
	<context-param>
		<param-name>charset</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.tgweb.day11.LoginServlet</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>TEST</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/filter2/login.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>surfFilter</filter-name>
		<filter-class>com.tgweb.day11.SurfFilter</filter-class>
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/filter2/index.html</param-value>
		</init-param>
		<init-param>
			<param-name>uncheckedUrls</param-name>
			<param-value>/filter2/index.html;/filter2/login.do;/filter2/a.html;/filter2/c.html;/filter2/e.html;</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>surfFilter</filter-name>
		<url-pattern>/filter2/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>userNameFilter</display-name>
		<filter-name>userNameFilter</filter-name>
		<filter-class>com.tgweb.day10.UserNameFilter</filter-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>test</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>passWordFilter</filter-name>
		<filter-class>com.tgweb.day10.PassWordFilter</filter-class>
		<init-param>
			<param-name>password</param-name>
			<param-value>123</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>firstFilter</filter-name>
		<filter-class>com.tgweb.day10.FirstFilter</filter-class>
	</filter>
	<filter>
		<filter-name>secondFilter</filter-name>
		<filter-class>com.tgweb.day10.SecondFilter</filter-class>
	</filter>
	<filter>
		<filter-name>noCacheFilter</filter-name>
		<filter-class>com.tgweb.day10.NoCacheFilter</filter-class>
	</filter>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.tgweb.day10.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>wordFilter</filter-name>
		<filter-class>com.tgweb.day11.WordFilter</filter-class>
	</filter>
	<context-param>
		<param-name>keyWord</param-name>
		<param-value>fuck;shit;bitch;</param-value>
	</context-param>
	<filter-mapping>
		<filter-name>firstFilter</filter-name>
		<url-pattern>/filter/test_req.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>secondFilter</filter-name>
		<url-pattern>/filter/test_req.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/filter/error2.jsp</location>
	</error-page>
	<filter-mapping>
		<filter-name>userNameFilter</filter-name>
		<url-pattern>/filter/hello.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>passWordFilter</filter-name>
		<url-pattern>/filter/hello.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>noCacheFilter</filter-name>
		<url-pattern>/cache/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/filter/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>wordFilter</filter-name>
		<url-pattern>/filter3/result.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>testServlet</display-name>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.tgweb.day12.testServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/listener/testServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.tgweb.day12.MyAttributeListener</listener-class>
	</listener>
</web-app>