<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chain.mybatis.day07.UserMapper">

    <!--开启二级缓存-->
    <cache/>

    <select id="getUserById" parameterType="int" resultType="com.chain.mybatis.day07.User">
        SELECT *
        FROM c_user
        WHERE id = #{id};
    </select>

    <update id="updateUser" parameterType="com.chain.mybatis.day07.User">
        UPDATE c_user
        SET name = #{name}, age = #{age}
        WHERE id = #{id};
    </update>

</mapper>