<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>161102_TgJavaWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/50x.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/40x.jsp</location>
	</error-page>

	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>JdbcUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/test</param-value>
	</context-param>


	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.tgweb.day02.LoginServlet</servlet-class>

		<init-param>
			<param-name>username</param-name>
			<param-value>test</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>123</param-value>
		</init-param>

		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet2</servlet-name>
		<servlet-class>com.tgweb.day03.LoginServlet2</servlet-class>

		<init-param>
			<param-name>username</param-name>
			<param-value>test</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>123</param-value>
		</init-param>

		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet2</servlet-name>
		<url-pattern>/loginServlet2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexJsp</servlet-name>
		<jsp-file>/index.jsp</jsp-file>

		<init-param>
			<param-name>param</param-name>
			<param-value>value</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>indexJsp</servlet-name>
		<url-pattern>/indexJsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testServletA</servlet-name>
		<servlet-class>com.tgweb.day04.TestServletA</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testServletA</servlet-name>
		<url-pattern>/testServletA</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testServletB</servlet-name>
		<servlet-class>com.tgweb.day04.TestServletB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testServletB</servlet-name>
		<url-pattern>/testServletB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testServletC</servlet-name>
		<servlet-class>com.tgweb.day04.TestServletC</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testServletC</servlet-name>
		<url-pattern>/testServletC</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>helloServlet</servlet-name> <servlet-class>com.tgweb.day01.HelloServlet</servlet-class> 
		<init-param> <param-name>user</param-name> <param-value>test</param-value> 
		</init-param> <init-param> <param-name>pass</param-name> <param-value>123</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
		<servlet-name>helloServlet</servlet-name> <url-pattern>/helloServlet</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>helloServlet</servlet-name> 
		<url-pattern>/helloServlet2</url-pattern> </servlet-mapping> <servlet-mapping> 
		<servlet-name>helloServlet</servlet-name> <url-pattern>*.php</url-pattern> 
		</servlet-mapping> -->
</web-app>
