<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 配置C3P0数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	</bean>

	<!-- 配置Spring的JdbcTemplate类 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<bean id="bookShopDao" class="com.tgweb.spring4.day03.BookShopDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="bookShopService" class="com.tgweb.spring4.day03.BookShopServiceImpl">
		<property name="bookShopDao" ref="bookShopDao"></property>
	</bean>

	<bean id="userCashier" class="com.tgweb.spring4.day03.UserCashierImpl">
		<property name="bookShopService" ref="bookShopService"></property>
	</bean>

	<!-- 配置事务管理 -->
	<bean id="dataSourceTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置事务属性 -->
	<tx:advice id="txAdvice" transaction-manager="dataSourceTransactionManager">
		<tx:attributes>
			<!-- 一般读操作可以配置readOnly为true -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置事务切入点，将事务切入点和事务的属性关联起来 -->
	<aop:config>
		<aop:pointcut
			expression="execution(* com.tgweb.spring4.day03.BookShopService.purchase(..))"
			id="bookShopServicePointCut" />
		<aop:pointcut
			expression="execution(* com.tgweb.spring4.day03.UserCashier.cash(..))"
			id="userCashierPointCut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bookShopServicePointCut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="userCashierPointCut" />
	</aop:config>

</beans>
